<div class="main">
    <section
            class="main__list-chats {{#if isOpenProfile}}main__list-chats_close {{/if}}">
        <div class="main__wrapper-profile">
            {{{openProfile}}}
        </div>
        <div class="main__wrapper-search">
            {{{searchChat}}}
        </div>
        <div class="main__wrapper-listChats scroll">
            {{{listChats}}}
        </div>
    </section>
    <section class="main__content">
        {{#if activeChat}}
            {{{activeChat}}}
        {{else if profile}}
            {{{profile}}}
        {{else}}
            {{> emptyChat}}
        {{/if}}
    </section>
</div>
